<%- include("header") -%>


<h2> This is about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet possimus debitis totam itaque sequi autem officia tempora fugit cumque tempore corporis sed aliquam labore impedit, perspiciatis nulla consequatur nisi odio ullam consectetur? Quae modi saepe, ut quia nam accusantium! Necessitatibus ullam modi provident ducimus, saepe et voluptatem quibusdam nihil optio!</p>

<%- include("footer") -%>
